<p>
  Dear <%= name %>,
  Thanks for signing up to Royal Mail’s My Preferences trial.
  To confirm your email address, please click on the link below:
  <a href='<%= validationLink %>'>
    <%= validationLink %>
  </a>
  If clicking on the link does not work, please copy it and paste it into your browser address bar.
  Kind regards,
  Royal Mail
</p>

<p>This email was sent by an automated system, so if you reply, nobody will see it.</p>
